<div class="ui form segment">
  <h2>Badminton</h2>

    <div class="ui grid center aligned">
        <div class="4 wide column">
            <div class="field"><checkbox ng-model="badminton.show" size="large" type="toggle">Show Badminton Score</checkbox></div>
        </div>
    </div>

    <div class="ui divider"></div>

    <br>

    <div class="ui grid center aligned">
        <div class="four wide field">
            <input style="text-align: center;"  type="text" placeholder="Match Name" ng-model="badminton.match">
        </div>
    </div>

    <br>

    <div class="ui divider"></div>

    <br>

    <div class="ui grid center aligned">
      <h2>Game</h2>
    </div>

    <div class="ui grid center aligned">
      <div class="eight wide column">
        <h3>Lancaster</h3>
        <h1>{{badminton.game1}}</h1>
        <div class="ui icon buttons">
          <button class="ui green button" ng-click="badminton.game1 = badminton.game1 + 1;">
            <i class="plus icon"></i>
          </button>
          <button class="ui red button" ng-click="badminton.game1 = badminton.game1 - 1;" ng-disabled="badminton.game1 == 0">
            <i class="minus icon"></i>
          </button>
          <button class="ui orange button" ng-click="resetGame1();">
            Reset
          </button>
        </div>
      </div>

      <div class="eight wide column">
        <h3>York</h3>
        <h1>{{badminton.game2}}</h1>
        <div class="ui icon buttons">
          <button class="ui green button" ng-click="badminton.game2 = badminton.game2 + 1;">
            <i class="plus icon"></i>
          </button>
          <button class="ui red button" ng-click="badminton.game2 = badminton.game2 - 1;" ng-disabled="badminton.game2 == 0">
            <i class="minus icon"></i>
          </button>
          <button class="ui orange button" ng-click="resetGame2();">
            Reset
          </button>
        </div>

      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">

        <div class="sixteen wide column">

            <div class="fields">

                <div class="five wide field">
                  <h3>Player Name</h3>
                </div>

                <div class="two wide field">
                  <h3>Points</h3>
                </div>

                <div class="two wide field">

                </div>

            </div>

        </div>

    </div>

    <div class="ui grid center aligned">

        <div class="sizteen wide column">

            <div class="fields">

                <div class="five wide field">
                    <input type="text" placeholder="Lancaster Player" ng-model="badminton.player1">
                </div>

                <div class="two wide field">
                  <h2>{{badminton.point1}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="badminton.point1 = badminton.point1 + 1;"><i class="plus icon"></i></button>
                        <button class="ui red button"  ng-click="badminton.point1 = badminton.point1 - 1" ng-disabled="badminton.point1 == 0"><i class="minus icon"></i></button>
                        <button class="ui orange button"  ng-click="resetPoint1();">Reset</button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="ui grid center aligned">

        <div class="sizteen wide column">
            <div class="fields">

                <div class="five wide field">
                    <input type="text" placeholder="York Player" ng-model="badminton.player2">
                </div>

                <div class="two wide field">
                  <h2>{{badminton.point2}}</h2>
                </div>

                <div class="two wide field">
                    <div class="ui icon buttons">
                        <button class="ui green button" ng-click="badminton.point2 = badminton.point2 + 1;"><i class="plus icon"></i></button>
                        <button class="ui red button"  ng-click="badminton.point2 = badminton.point2 - 1" ng-disabled="badminton.point2 == 0"><i class="minus icon"></i></button>
                        <button class="ui orange button"  ng-click="resetPoint2();">Reset</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
