<div class="ui form segment">
    <h2>Football</h2>

    <div class="ui grid center aligned">
        <div class="sixteen wide column">
            <div class="field">
                <checkbox ng-model="football.show" style="margin-right:10px;" size="large" type="toggle">Show Score Bar</checkbox>
                <checkbox ng-model="football.showpre" style="margin-right:10px;" size="large" type="toggle">Pre-Match Bar</checkbox>
                <checkbox ng-model="football.showpost" style="margin-right:10px;" size="large" type="toggle">Half-Time / Post-Match Bar</checkbox>
                
            </div>
        </div>
    </div>   
    <br> 
            <div class="fields sixteen wide column">
            	<div class="field six wide">
        	 		<input  type="text" placeholder="Match Name (Top)" ng-model="football.matchname">
        	 	</div>
        	 	<div class="field two wide">	
        	 		<checkbox ng-model="football.showtop" type="toggle">Top</checkbox>
        	 	</div>
        	 	<div class="field two wide">
        	 		<checkbox ng-model="football.showbottom" size="large" type="toggle">Bottom</checkbox>
        	 	</div>	
        	 	<div class="field six wide">	
        	 		<input type="text" placeholder="Start Time or Half/Full Time (Bottom)" ng-model="football.starttime">
        	 	</div>
       	  </div>


    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="three wide column center aligned">
            <h2 class="ui header">{{clock}}</h2>
        </div>

        <div class="five wide column">
            <div class="ui action input">
                <input type="text" placeholder="mm:ss" ng-model="time" size="10">
                <div class="ui button" ng-click="setClock(time)">Set</div>
            </div>
        </div>

        <div class="seven wide column">
            <div class="ui">
                <div class="ui icon red button" ng-click="upClock()">
                    <i class="up arrow icon"></i>
                </div>

                <div class="ui icon blue button" ng-click="pauseClock()">
                    <i class="pause icon"></i>
                </div>

                <div class="ui icon green button" ng-click="downClock()">
                    <i class="down arrow icon"></i>
                </div>

                <div class="ui button" ng-click="resetClock()">Reset</div>
                <checkbox ng-model="football.showextratime" size="large" type="toggle">Extra Time</checkbox>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid center aligned">
        <div class="eight wide column">
            <h3>Lancaster</h3>
            <h1>{{football.lancScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="football.lancScore = football.lancScore + 1;">
                    <i class="plus icon"></i>
                </button>
                <button class="ui red button" ng-click="football.lancScore = football.lancScore - 1;" ng-disabled="football.lancScore == 0">
                    <i class="minus icon"></i>
                </button>
            </div>
            <br>
            <br>
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="football.lancScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>

        <div class="eight wide column">
            <h3>York</h3>
            <h1>{{football.yorkScore}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="football.yorkScore = football.yorkScore + 1;">
                    <i class="plus icon"></i>
                </button>
                <button class="ui red button" ng-click="football.yorkScore = football.yorkScore - 1;" ng-disabled="football.yorkScore == 0">
                    <i class="minus icon"></i>
                </button>
            </div>
            <br>
            <br>
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="football.yorkScore = 0">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="teams">Teams</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="teams">
        <div class="ui two column grid">
            <div class="column">
                <table class="ui striped table">
                    <thead>
                        <th colspan="2">Lancaster</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in lancsPlayers">
                            <td>{{player.name}} <strong>({{player.number}})</strong></td>
                            <td>
                                <div class="mini ui yellow button" ng-click="yellowCard('york', $index)" >Y</div>
                                <div class="mini ui red button" ng-click="redCard('york', $index)" >R</div>
                                <div class="mini ui green button" ng-click="scored('york', $index)" >G</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <table class="ui striped table">
                    <thead>
                        <th colspan="2">York</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in yorksPlayers">
                            <td>{{player.name}} <strong>({{player.number}})</strong></td>
                            <td>
                                <div class="mini ui yellow button" ng-click="yellowCard('york', $index)" >Y</div>
                                <div class="mini ui red button" ng-click="redCard('york', $index)" >R</div>
                                <div class="mini ui green button" ng-click="scored('york', $index)" >G</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="settings">
        <div class="ui two column grid">
            <div class="column">
                <h2>Lancaster</h2>
                <form class="ui form">
                    <div class="field">
                        <label></label>
                        <input ng-model="lancs.name" placeholder="Player Name" type="text"/>
                    </div>
                    <div class="six wide field">
                        <label></label>
                        <input ng-model="lancs.number" placeholder="Player Number" type="text"/>
                    </div>
                    <div class="field">
                        <label></label>
                        <input ng-model="lancs.position" placeholder="Player Position" type="text"/>
                    </div>
                </form>

                <div class="ui icon green button" ng-click="addLancsPlayer()">
                    <i class="plus icon"></i> Add Player
                </div>

                <div class="ui divider"></div>

                <table class="ui very basic padded celled table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>#</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="player in lancsPlayers">
                        <tr>
                            <td>
                                <h4 class="ui header">
                                    <div class="content">
                                        {{player.name}}
                                        <div class="sub header">{{player.position}}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td class="collapsing">
                                {{player.number}}
                            </td>
                            <td class="collapsing">
                                <div class="mini ui negative icon button" ng-click="delete('lancs', $index)" >
                                    <i class="delete icon"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <h2>York</h2>
                <form class="ui form">
                    <div class="field">
                        <label></label>
                        <input ng-model="york.name" placeholder="Player Name" type="text"/>
                    </div>
                    <div class="six wide field">
                        <label></label>
                        <input ng-model="york.number" placeholder="Player Number" type="text"/>
                    </div>
                    <div class="field">
                        <label></label>
                        <input ng-model="york.position" placeholder="Player Position" type="text"/>
                    </div>
                </form>

                <div class="ui icon green button" ng-click="addYorksPlayer()">
                    <i class="plus icon"></i> Add Player
                </div>

                <div class="ui divider"></div>

                <table class="ui very basic padded celled table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>#</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="player in yorksPlayers">
                        <tr>
                            <td>
                                <h4 class="ui header">
                                    <div class="content">
                                        {{player.name}}
                                        <div class="sub header">{{player.position}}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td class="collapsing">
                                {{player.number}}
                            </td>
                            <td class="collapsing">
                                <div class="mini ui negative icon button" ng-click="delete('york', $index)" >
                                    <i class="delete icon"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $('.menu .item').tab();
    </script>
</div>
