<div class="ui form segment">
  <h2>General</h2>

<div class="ui divider"></div>
  <div class="inline field">
    <checkbox size="large" ng-model="general.showLogo" type="toggle">Show Logo</checkbox>
    <checkbox size="large" ng-model="general.showGeneral" type="toggle">Show General</checkbox>
  </div>

<div class="ui divider"></div>
    <div class="sixteen wide column">
        <div class="inline fields">
        <div class="five wide field">
          </div>  
          <div class="five wide field">
            <checkbox size="large" ng-model="bug.showClock" type="toggle">Show Clock</checkbox>
          </div>
    </div>  
    <div class="sixteen wide column">
      <div class="inline fields">
  		<div class="five wide field">
           <input name="livetext" value="Live" placeholder="Live" type="text" ng-model="bug.livetext" />
        </div>  
        <div class="five wide field">
          <checkbox size="large" ng-model="bug.showLive" type="toggle">Show Live</checkbox>
        </div>
  </div>    
    <div class="sixteen wide column">
      <div class="inline fields">
  		<div class="five wide field">
           <input name="bugtext" placeholder="Live Location" type="text" ng-model="bug.locationtext" />
        </div>  
        <div class="five wide">
           <checkbox size="large" ng-model="bug.showLocation" type="toggle">Show Location</checkbox>
        </div>
	</div>