<div class="ui form segment">
  <h2>Lower Thirds</h2>
  <form name="lowerThirdsForm" method="post">
    <div class="two fields">
      <div class="field">
        <label for="Heading">Heading</label>
        <input id="Heading" placeholder="Heading" type="text" ng-trim="true" ng-model="lowerThird.heading"/>
      </div>

      <div class="field">
        <label for="SubHeading">Sub-Heading</label>
        <input id="SubHeading" placeholder="Sub Heading" type="text" ng-trim="true" ng-model="lowerThird.subHeading">
      </div>
    </div>
	<br>
    <div class="right floated right aligned six wide column">
      <div class="ui blue button" ng-click="add(lowerThird)" ng-disabled="lowerThirdsForm.$invalid" >Add</div>
      <div class="ui red button" ng-click="hideall()">Hide All</div>
    </div>
  </form>
</div>

<div class="ui segment" ng-repeat="third in queuedThirds">
  <div class="ui grid">
    <div class="six wide column">
      <h2 class="left aligned ui header">
          <i class="list layout icon"></i>
          <div class="content" ng-if="!third.edit">
              <div>{{third.heading}}</div>
              <div class="sub header">{{third.subHeading}}</div>
          </div>
          <div class="content" ng-if="third.edit">
            <div><input type="text" class="lt-edit-input" ng-model="third.heading"></div>
            <div><input type="text" class="sub header lt-edit-input" ng-model="third.subHeading"></div>
          </div>
        </h2>
    </div>

    <div class="two wide column">
      
    </div>

    <div class="two wide column">

    </div>

    <div class="right aligned six wide column">
      <div class="ui small buttons">
        <div class="ui positive button" ng-click="show('left', third)" >Left</div>
        <div class="or"></div>
        <div class="ui positive button" ng-click="show('right', third)" >Right</div>
        <div class="or"></div>
        <div class="ui positive button" ng-click="show('full', third)" >Full Width</div>
      </div>
      <div  ng-class="third.edit ? 'green' : 'blue' "class="ui icon small button" ng-click='edit($index)'>
        <i ng-class="third.edit ? 'save icon' : 'edit icon'"></i>
      </div>

      <div class="ui small buttons">
        <div class="ui negative button" ng-click="hideleft()" >Left</div>
        <div class="or"></div>
        <div class="ui negative button" ng-click="hideright()" >Right</div>
        <div class="or"></div>
        <div class="ui negative button" ng-click="hidefull()" >Full Width</div>
      </div>
      <div class="ui icon red small button" ng-click='remove($index)'>
        <i class="delete icon"></i>
      </div>

    </div>
  </div>
</div>