* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    padding: 50px; /* Safe area */
    font-family: 'Montserrat', sans-serif;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;
}


@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.moving {
    height: 40px;
    width: 500%;

    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 71%, rgba(125,125,125,1) 85%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%) repeat;

    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.bar {
  overflow-x: hidden;
  overflow-y:hidden;
  width: 100%;
  border-radius: 2px;

  box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #000;
}

.bar .gradient-overlay {
    position: absolute;
    width: inherit;
    height: 40px;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, .2) 100%
    );
}

.bar.red {
    box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #600;
}

.gradient-overlay > span {
    position:relative;
    padding-top: 8px;
    padding-left: 8px;
    text-align: center;
    text-transform:uppercase;
    z-index:1;
    display:block;
    color:#fff;
    font-size:23px;
    text-shadow:1px -1px 0px #000;
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

.large {
    top: -13px;
    font-size: 40px !important;
}

/**************************************************/
/*              [Layout]                          */
/**************************************************/
.left{
    position: absolute;
    left: 50px;
}

.right {
    position: absolute;
    right: 50px;
    text-align: right;
}

.bottom {
    bottom: 50px;
}

.top {
    top: 50px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.wrapper {
    overflow: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
/**************************************************/
/*              [Lower Third]                     */
/**************************************************/

.lowerthird {
    min-width: 30%;
    width: 40%;

    border-radius: 5px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.lowerthird h1 {
    color: #fff;
    font-size: 40px;
    font-size: 2.5vw;
    font-weight: normal;
    padding: 5px 8px;

    background-color: #cd1d18;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.lowerthird h2 {
    color: #fff;
    font-size: 35px;
    font-size: 2vw;
    font-weight: normal;
    padding: 5px 8px;

    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

/**************************************************/
/*              [Boxing Score]                    */
/**************************************************/
.boxing-score {
    background-color: rgba(0,0,0,0.5);
    width: 15%;
}

.score-inner {
    color: #fff;
    text-shadow:1px -1px 0px #000;
    text-align: center;
    padding: 15px 60px 15px 60px;
}

.timer {
    top: -2px;
    font-size: 30px !important;
}

.score-inner h1 {
    font-size: 35px;
}

.red-moving {
    height: 40px;
    width: 500%;

    background: linear-gradient(to left, rgba(225,0,0,1) 0%, rgba(225,0,0,1) 71%, rgba(225,25,25,1) 85%, rgba(225,0,0,1) 98%, rgba(225,0,0,1) 100%) repeat;

    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


/**************************************************/
/*              [Live Bug]                        */
/**************************************************/
.bug {
    display:inline;
    white-space: nowrap;
    clear:none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.bug h1 {
    color: #fff;
    font-size: 30px;
    font-size: 1.55vw;
    line-height: 1.8vw;
    font-weight: normal;
    float: left;
    padding: 3px 10px;
    margin-right: 0px;

    background-color: #cd1d18;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.black {
    background-color: #000 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

/**************************************************/
/*              [Logo]                            */
/**************************************************/

.logo {
    opacity: 0.5;
    top: 40px;
}

.logo.toggle.ng-leave,
.logo.toggle.ng-hide-add,
.logo.toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.5;
}


/**************************************************/
/*              [Total Score]                     */
/**************************************************/

.total-score {
    width: 30%;
    text-align: center;
    border-radius: 8px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.total-score h1 {
    color: #000;
    font-size: 35px;
    font-size: 2vw;
    padding: 6px;
    text-transform: uppercase;
    background-color: #fff !important;
}

.total-score .lanc {
    display: block;
    width: 50%;
    font-size: 40px;
    font-size: 2.5vw;
    color: #fff;
    padding: 6px;
    background-color: #cd1d18;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.total-score .york {
    display: block;
    width: 50%;
    font-size: 40px;
    font-size: 2.5vw;
    color: #efbb39;
    padding: 6px;
    background-color: #000 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

/**************************************************/
/*              [Football Score]                  */
/**************************************************/

.football {
  width: 30%;
  border-radius: 3px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-size: 1.8vw;
  text-align: center;
}

.football .clock, .football .score.lanc, .football .score.york {
  padding: 3px;
  float: left;
}

.football .clock {
  background-color: #fff;
  width: 24%;
}

.football .score.lanc {
  width: 38%;
  color: #fff;
  background-color: #cd1d18;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.football .score.lanc p {
    float: right;
}

.football .score.york {
  width: 38%;
  color: #efbb39;
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

/**************************************************/
/*              [Darts]                           */
/**************************************************/

.darts {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 25px;
  font-size: 1.8vw;

  border-radius: 5px;
  border: 8px solid rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.darts .name, .darts .legs, .darts .score, .darts .leg, .darts .footer {
  float: left;
  line-height: 45px;
  line-height: 3.2vw;

  padding-left: 5px;
}

.darts .name {
  width: 64%;
}

.darts .name.lanc {
  color: #fff;
  background-color: #cd1d18;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.darts .name.york {
  color: #efbb39;
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.darts .legs {
  width: 17%;
  color: #fff;
  background-color: #00d;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  border-left: 2px solid #fff;
}

.darts .score {
  width: 19%;
  color: #fff;
  background-color: #00d;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  border-left: 2px solid #fff;
}

.darts .header .name {
  background-color: #fff;
  color: #000;
  width: 64%;
  line-height: 30px;
  line-height: 2.5vw;
}

.darts .header .leg {
  color: #000;
  background-color: #fff;
  width: 36%;
  font-size: 20px;
  font-size: 1.3vw;
  line-height: 30px;
  line-height: 2.5vw;
}

.darts .footer {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  font-size: 1.3vw;
  line-height: 30px;
  line-height: 2.2vw;
}

/*
 *===================================
 *         Grid
 *===================================
 */
 .grid {

    width: 650px;
    text-align: center;

    border-radius: 5px;
    border: 8px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
  }
    .grid h1 {
        color:  #ffffff;
        text-shadow:1px -1px 0px #000;
        font-size: 40px;
        font-size: 2.5vw;
        font-weight: normal;
        padding: 5px;

        background-color: #00d;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    }

    .grid .name, .grid .time {
        float: left;
        line-height: 40px;
        padding-left: 5px;
        background-color: #00d;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        font-size: 25px;
    }

    .grid .name {
        padding-left: 10px;
        text-align: left;
        width: 498px;
    }

    .grid .time {
        width: 130px;
        margin-left: 5px;
    }

    .grid .row {
        color: #fff;
        margin-top: 5px;
    }

    .grid .row:last-child {
        margin-bottom: 5px;
    }


/**************************************************/
/*              [Swimming]                        */
/**************************************************/

.swimmingclock {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  border-radius: 5px;
  border: 8px solid rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.swimmingclock .clock, .swimmingclock .footer {
  float: left;
  padding-right: 5px;
  width: 100%;
  text-align: right;
}

.swimmingclock .clock {
  font-size: 25px;
  font-size: 2.0vw;
  line-height: 45px;
  line-height: 3.3vw;
  color: #fff;
  background-color: #00d;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimmingclock .clock * {
    float: right;
}

.swimmingclock .clock .deciseconds {
    width: 8%;
}

.swimmingclock .footer {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-size: 1.5vw;
  line-height: 30px;
  line-height: 2.5vw;
  text-transform: uppercase;
}

.swimmingsplits {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    width: 25%;
}

.swimmingsplits .row {
    width: 100%;
    font-size: 20px;
    font-size: 1.3vw;
    line-height: 30px;
    line-height: 2.2vw;
    overflow: hidden;
}

.swimmingsplits .row.lanc {
    color: #fff;
    background-color: #cd1d18;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimmingsplits .row.york {
    color: #efbb39;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimmingsplits .row .lane {
    float: left;
    margin-right: 5px;
    width: 30px;
    width: 2.2vw;
    text-align: center;
    color: #fff;
    background-color: #00d;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimmingsplits .row .splittime {
    float: right;
    margin-left: 5px;
    padding: 0px 10px;
    color: #000;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimminglist {
    top: 12%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.swimminglist .header {
    width: 100%;
    font-size: 35px;
    font-size: 2.7vw;
    line-height: 55px;
    line-height: 4vw;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimminglist .row {
    width: 100%;
    font-size: 30px;
    font-size: 2.2vw;
    line-height: 50px;
    line-height: 3.8vw;
    overflow: hidden;
}

.swimminglist .row.lanc {
    color: #fff;
    background-color: #cd1d18;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimminglist .row.york {
    color: #efbb39;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.swimminglist .row .lane {
    float: left;
    margin-right: 15px;
    paddding: 15px;
    width: 50px;
    width: 3.8vw;
    text-align: center;
    color: #fff;
    background-color: #00d;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
