<div class="ui form segment">
  <h2>Football</h2>

	<div class="ui grid center aligned">
    	<div class="eight wide column">
    		<div class="field"><checkbox ng-model="football.show" size="large" type="toggle">Show Score Bar</checkbox></div>
    	</div>
    </div>

  	<div class="ui divider"></div>

  	<div class="ui grid">

    <div class="four wide column center aligned">
      <h2 class="ui header">{{clock}}</h2>
    </div>

    <div class="five wide column"> 
      <div class="ui action input">
        <input type="text" placeholder="mm:ss" ng-model="time" >
        <div class="ui button" ng-click="setClock(time)">Set</div>
      </div>
    </div>

    <div class="seven wide column">
      <div class="ui">
        <div class="ui icon red button" ng-click="upClock()">
          <i class="up arrow icon"></i>
        </div>

        <div class="ui icon blue button" ng-click="pauseClock()">
          <i class="pause icon"></i>
        </div>

        <div class="ui icon green button" ng-click="downClock()">
          <i class="down arrow icon"></i>
        </div>

        <div class="ui button" ng-click="resetClock()" >Reset</div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui grid center aligned">
    <div class="eight wide column">
      <h3>Lancaster</h3>
      <h1>{{football.lancScore}}</h1>
      <div class="ui icon buttons">
        <button class="ui green button" ng-click="football.lancScore = football.lancScore + 1;">
          <i class="plus icon"></i>
        </button>
        <button class="ui red button" ng-click="football.lancScore = football.lancScore - 1;" ng-disabled="football.lancScore == 0">
          <i class="minus icon"></i>
        </button>
      </div>
    </div>

    <div class="eight wide column">
      <h3>York</h3>
      <h1>{{football.yorkScore}}</h1>
      <div class="ui icon buttons">
        <button class="ui green button" ng-click="football.yorkScore = football.yorkScore + 1;">
          <i class="plus icon"></i>
        </button>
        <button class="ui red button" ng-click="football.yorkScore = football.yorkScore - 1;" ng-disabled="football.yorkScore == 0">
          <i class="minus icon"></i>
        </button>
      </div>
    </div>
  </div>
 </div>