/**************************************************/
/*              [Waterpolo Score]                  */
/**************************************************/

.waterpolo {
  width: 40%;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 30px;
  font-size: 1.8vw;
}

.waterpoloquarter {
    display:inline;
    white-space: nowrap;
    clear:none;
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.waterpoloquarter h1 {
    color: #fff;
    font-size: 30px;
    font-size: 1.55vw;
    line-height: 1.8vw;
    font-weight: normal;
    float: left;
    padding: 3px 10px;
    margin-right: 0px;
    background-color: #BC204B;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.waterpoloquarter h1:empty {
    display: none;
}

.waterpolo .clock, .waterpolo .score.lanc, .waterpolo .score.york {
  padding: 3px;
  float: left;
}

.waterpolo .clock {
  background-color: #eee;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  width: 18%;
  text-align: center;
}

.waterpolo .score.lanc {
  width: 32%;
  text-align: right;
  padding-right:20px;
  color: #fff;
  background-color: #cd1d18;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.waterpolo .score.lanc p {
    float: right;
    text-align: center;
}

.waterpolo .score.york {
  width: 32%;
  text-align: left;
  padding-left: 30px;
  color: #000;
  background-color: #efbb39;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
